extends layout

block content
  h1= "Дома"
  ul
    li Температура:
      span.temp
    li Влажность:
      span.humid
    li Давление:
      span.pressure

    script(src="/js/jquery-2.2.1.min.js")
    script(src="/socket.io/socket.io.js")
    script(src="/js/client.js")
